:root {
    font-size: 8px;
    font-weight: bold;
}

p, body, html, h1 {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
}

h1 {
    font-size: clamp(5rem, 7dvw, 16rem);
}

a {
    text-decoration: none;
    color: #0E111B;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #DF1C26;
}


body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;

}

.background {
    background-image: url('background.svg');
    background-size: cover;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

#logoWrapper {
    position: relative;

    flex-grow: 1;
    flex-basis: 48dvw;
}

#logo {
    position: absolute;
    right: 0;
    z-index: -1;

    height: 100dvh;
    object-fit: fill;
}

.redBackground {
    background: #DF1C26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    box-sizing: border-box;

    min-width: 300px;

    flex-grow: 6;
    flex-basis: 50dvw;
    padding-right: 60px;
    overflow: hidden;
}

.wheat {
    color: #E5D9C3;
}
