:root {
    font-size: 8px;
    font-weight: bold;
    text-align: right;
}

p, body, html, h1, h2, h3, h4 {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;

}

h1 {
    font-size: clamp(5rem, 9vw, 16rem);
}

h2 {
    font-size: clamp(4rem, 6vw, 10rem);
}

h3 {
    font-size: clamp(3rem, 5vw, 8rem);
    font-weight: normal;
}

h4, p {
    font-size: clamp(3rem, 3vw, 4rem);
    font-weight: normal;
    text-align: left;
}

h4 {
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: clamp(5rem, 7vw, 16rem);
    color: #0E111B;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #DF1C26;
}


body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.background {
    background-image: url('background.svg');
    position: relative;
    background-size: cover;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: start;
}

#logoWrapper {
    position: relative;

    flex-grow: 1;
    flex-basis: 48vw;
}

#logo {
    position: absolute;
    right: 0;
    z-index: -1;

    height: 100vh;
    object-fit: fill;
}

.navBackground {
    background: #0E111B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    box-sizing: border-box;

    min-width: 300px;
    height: 100%;

    flex-grow: 6;
    flex-basis: 50vw;
    padding-right: 60px;
    overflow: hidden;
}

.wheat {
    color: #E5D9C3;
}

.navy {
    color: #0E111B;
}

.navRow {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    padding-top: 5vh;
    padding-bottom: 1vh;
    margin-inline: 15%;

    box-sizing: border-box;

    justify-content: center;
    gap: 4vw;

    z-index: 2;

}

#navHome {
    flex-direction: column;
    padding-left: 1vw;
    gap: 1vh;
}

.svg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    pointer-events: none;
}

#rectSvg {
    transform: translateX(-25%);
}

#triSvg {
    position: absolute;
    height: 85%;
    left: 0px;
    transform: translate(10%, 15%);
    visible: hidden;
}

#headshot {
    position: relative;
    z-index: 1;

    min-width: 300px;
    min-height: 300px;
    width: 35vw;
    height: 35vw;

    transform: translate(7vw, 7vh);

    border-radius: 50%;
    border: 1px solid #0E111B;
    background-color: #E5D9C3;
}

.pageContent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    z-index: 1;
    color: #E5D9C3;

    width: 100%;
    flex-grow: 1;
}


#about {
    display: flex;
    flex-direction: column;
    position: relative;

    top: 180px;

    box-sizing: border-box;
    padding-right: 5vw;

    width: 48%;
    gap: 5rem;
}

#about > p {
    width: 90%;
    color: #E5D9C3;
    font-size: clamp(3rem, 4vw, 4rem);
    font-family: "Cairo", sans-serif;
}

#portfolio {
    padding-top: 2vw;
    justify-content: center;
}

.cardDisplay {
    width: 80vw;
    height: 90%;

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, min(60vw, 700px));
    row-gap: 50px;
    column-gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.cardImgLink {
    background: #0E111B;
    width: 100%;
    flex-grow: 2;
    flex-basis: 200px;

    box-sizing: border-box;
    border: 1px solid #DF1C26;
    border-radius: 5px;
    overflow: hidden;

    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImg {
    margin: auto auto;
    width: 98%;
    height: 98%;
    object-fit: contain;
    z-index: 1;
}

.cardText {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 1vh .5vw;

    gap: 10px;
}

.cardText > h4, p {
    display: inline-block;
    text-align: left;
    color: #0E111B;
    font-size: clamp(3rem, 2vw, 3.5rem);
}

#contact {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: #DF1C26;

    box-sizing: border-box;
    padding-inline: 10vw;
    padding-bottom: 20vh;

    gap: 10px;
}

#contact h3 {
    text-align: center;
}

#contact h3 strong {
    white-space: normal;
    overflow-wrap: break-word;
}

#contact h4 {
    font-size: clamp(2.5rem, 5vw, 6rem);
}
