@media (max-width: 1200px) {
    .navRow {
        flex-direction: column;
        gap: 1vh;
        background-color: #DF1C26;
        box-sizing: border-box;
        padding-right: 5vw;
        height: 25vh;
        margin-bottom: 5vh;
    }

    .navRow h2 {
        margin: 0 0;
        color: #E5D9C3;
    }

    #about {
        width: 90%;
    }
}

@media (max-width: 1800px) {
    :root, html, body {
        overflow-y: scroll;
    }

    content {
        flex-direction: column;
        align-items: center;
    }

    .svg {
        visibility: hidden;
    }

    #headshot {
        transform: none;
        margin-top: 5vh;
        width: 40vh;
        height: 40vh;
    }

    #about {
        color: #0E111B;
        padding-right: 0;
        margin-bottom: 10vh;
        width: 50%;
    }

    #about > p {
        justify-self: center;
        width: 100%;
    }

}
