@media (max-width: 1200px) {
    .navRow {
        flex-direction: column;
        gap: 1dvh;
        background-color: #DF1C26;
        box-sizing: border-box;
        padding-right: 5dvw;
        height: 25dvh;
        margin-bottom: 5dvh;
    }

    .navRow h2 {
        margin: 0 0;
        color: #E5D9C3;
    }
}

@media (max-width: 1800px) {
    :root, html, body {
        overflow-y: scroll;
    }

    content {
        flex-direction: column;
        align-items: center;
    }

    .svg {
        visibility: hidden;
    }

    #headshot {
        transform: none;
    }

    #about {
        color: #0E111B;
        padding-right: 0;
        margin-bottom: 10dvh;
    }

    #about > p {
        justify-self: center;
        width: 100%;
    }

}
